build/index.html
<!DOCTYPE html>
<html class="page-index" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="og:type" content="website">
    <meta name="og:locale" content="ru_RU">
    <meta name="og:title" content="Home">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Home">
    <title>Home
    </title>
    <link rel="stylesheet" href="css/main.css?v=1527003862890">
  </head>
  <body>
    <div class="b-page">
      <header class="b-header b-page__header js-fix-header">
        <div class="b-center b-flex b-flex--space-between">
          <div class="b-header__col b-flex b-flex--middle-col">
            <div class="b-logo"><a class="b-logo__link" href="#">БКС</a></div>
          </div>
          <div class="b-header__col b-flex b-flex--bottom-col">
            <div class="b-btn-menu b-header__btn js-btn-menu"><span class="b-btn-menu__icon"></span>Меню</div>
            <nav class="b-main-nav js-hamburger">
              <div class="b-btn-close b-main-nav__close js-btn-menu">закрыть</div>
              <ul class="b-main-nav__list">
                <li class="b-main-nav__item has-child active"><a href="#">О компании</a>
                  <ul class="b-main-nav__sub-list">
                    <li class="b-main-nav__sub-item"><a href="#">История</a></li>
                    <li class="b-main-nav__sub-item active"><a href="#">О компании</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Новости</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Лицензия</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Реквизиты</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Контакты</a></li>
                  </ul>
                </li>
                <li class="b-main-nav__item has-child"><a href="#">Услуги</a>
                  <ul class="b-main-nav__sub-list">
                    <li class="b-main-nav__sub-item"><a href="#">Управление фондами</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Создание фондов</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Аналитика</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Типы фондов</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Консалтинг</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Реализация активов</a></li>
                  </ul>
                </li>
                <li class="b-main-nav__item has-child"><a href="#">Фонды</a>
                  <ul class="b-main-nav__sub-list">
                    <li class="b-main-nav__sub-item"><a href="#">Девелоперский ЗПИФН</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Рентный ЗПИФН</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Инвестиционный ЗПИФН</a></li>
                  </ul>
                </li>
                <li class="b-main-nav__item has-child"><a href="#">Раскрытие</a>
                  <ul class="b-main-nav__sub-list">
                    <li class="b-main-nav__sub-item"><a href="#">Отчетность</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Расчет СС</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">ЭДО</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Инсайдеры</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">FATCA</a></li>
                    <li class="b-main-nav__sub-item"><a href="#">Архив</a></li>
                  </ul>
                </li>
                <li class="b-main-nav__item"><a href="#">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main class="b-body b-page__body">
        <div class="b-top-home">
          <div class="b-center">
            <div class="b-top-home__entry">
              <h3 class="b-top-home__tit">Откройте мир инвестиций<br>вместе с БКС Фонды недвижимости</h3><a class="b-btn b-btn--bd" href="#">Подробнее</a>
            </div>
            <ul class="b-post-border-row cf">
              <li class="b-post-border-row__col">
                <div class="b-post-border">
                  <div class="icon icon-trophy"></div>
                  <p> <strong>22 года</strong>на рынке</p>
                </div>
              </li>
              <li class="b-post-border-row__col">
                <div class="b-post-border">
                  <div class="icon icon-mark-map"></div>
                  <p> <strong>55 городов</strong>присутствия</p>
                </div>
              </li>
              <li class="b-post-border-row__col">
                <div class="b-post-border">
                  <div class="icon icon-favorites"></div>
                  <p> <strong>1-е место</strong>на рынке</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="b-top-home__img"><img src="images/uploads/img01.png" srcset="images/uploads/@2x/img01@2x.png 2x, images/uploads/@3x/img01@3x.png 3x" alt=""></div>
          <div class="b-top-home__btn-video"><a class="b-btn b-btn--arrow b-btn--arrow-sz-lg" href="#">Видео о компании<span class="icon icon-arrow"></span></a></div>
        </div>
        <div class="b-clients-home">
          <div class="b-center">
            <h3 class="b-tit b-tit--fz36 b-clients-home__tit">Для наших клиентов.</h3>
          </div>
          <div class="b-post-clients">
            <div class="b-center b-post-clients__row">
              <div class="b-post-clients__txt">
                <div class="b-post-clients__head">
                  <h4 class="b-tit b-tit--fz24">Действующим клиентам</h4>
                  <div class="icon icon-cityscape"></div>
                </div>
                <div class="b-entry">
                            <ul>
                              <li>Кто может быть пайщиком</li>
                              <li>Приобретение паев</li>
                              <li>Права пайщиков</li>
                              <li>Защита прав пайщиков</li>
                              <li>Налогообложение владельцев паев</li>
                              <li>Раскрытие информации</li>
                            </ul><a class="b-btn b-btn--bd b-btn--bd-tm-blue b-btn--bd-sz-sm" href="#">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="b-post-clients__img"><img src="images/uploads/img02.jpg" srcset="images/uploads/@2x/img02@2x.jpg 2x, images/uploads/@3x/img02@3x.jpg 3x" alt=""></div>
          </div>
          <div class="b-post-clients b-post-clients--right-img">
            <div class="b-center b-post-clients__row">
              <div class="b-post-clients__txt">
                <div class="b-post-clients__head">
                  <h4 class="b-tit b-tit--fz24">Владельцам недвижимости</h4>
                  <div class="icon icon-skyscraper"></div>
                </div>
                <div class="b-entry">
                            <ul>
                              <li>Преимущества «упаковки» в ЗПИФ</li>
                              <li>Типы ЗПИФов</li>
                              <li>Налоговые преимущества</li>
                              <li>Защита прав пайщиков</li>
                              <li>Порядок признания квалинвестором</li>
                              <li>Вопросы и ответы</li>
                            </ul><a class="b-btn b-btn--bd b-btn--bd-tm-blue b-btn--bd-sz-sm" href="#">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="b-post-clients__img"><img src="images/uploads/img03.jpg" srcset="images/uploads/@2x/img03@2x.jpg 2x, images/uploads/@3x/img03@3x.jpg 3x" alt=""></div>
          </div>
        </div>
        <div class="b-type-home">
          <div class="b-center">
            <h3 class="b-tit b-tit--fz36 b-type-home__tit"> <strong>Типы </strong>ЗПИФН.</h3>
          </div>
          <ul class="b-type-row cf">
            <li class="b-type-row__col">
              <div class="b-type-post b-flex b-flex--middle-col">
                <h3 class="b-type-post__tit">Девелоперский ЗПИФН</h3>
                <div class="b-type-post__entry">
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем </p>
                </div>
                <div class="b-type-post__numb">01</div>
                <div class="b-type-post__img"><img src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt=""></div>
              </div>
            </li>
            <li class="b-type-row__col">
              <div class="b-type-post b-flex b-flex--middle-col">
                <h3 class="b-type-post__tit">Рентный ЗПИФН</h3>
                <div class="b-type-post__entry">
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем </p>
                </div>
                <div class="b-type-post__numb">02</div>
                <div class="b-type-post__img"><img src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt=""></div>
              </div>
            </li>
            <li class="b-type-row__col">
              <div class="b-type-post b-flex b-flex--middle-col">
                <h3 class="b-type-post__tit">Инвестиционный ЗПИФН</h3>
                <div class="b-type-post__entry">
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем </p>
                </div>
                <div class="b-type-post__numb">03</div>
                <div class="b-type-post__img"><img src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt=""></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="b-about-home">
          <div class="b-about-home__bg">
            <div class="b-about-home__img-right"><img src="images/uploads/img05.jpg" srcset="images/uploads/@2x/img05@2x.jpg 2x, images/uploads/@3x/img05@3x.jpg 3x" alt=""></div>
            <div class="b-center">
              <div class="b-about-home__txt">
                <h3 class="b-tit b-tit--fz36 b-about-home__tit"> <strong>О компании.</strong></h3>
                <div class="b-entry">
                  <p>БКС Брокер» – брокер №1 в рейтинге Московской Биржи.<br>В 1995 году мы были одними из первых, кто начал оказывать брокерские услуги в России. Уже больше 20 лет мы каждый день работаем над тем, чтобы вам было проще и удобнее управлять своими финансами.</p>
                  <p><small>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем информации каждый день, разрабатываем новые инвестиционные стратегии для того, чтобы наши клиенты становились богаче и свободнее. Каждый Клиент может воспользоваться услугами личного финансового советника, который, используя наш опыт,</small></p>
                </div>
              </div>
              <div class="b-about-home__btn">
                <button class="b-btn b-btn--arrow">подробнее о компании<span class="icon icon-arrow"></span></button>
              </div>
            </div>
          </div>
          <div class="b-center cf">
            <div class="b-about-home__img-bot"><img src="images/uploads/img06.jpg" srcset="images/uploads/@2x/img06@2x.jpg 2x, images/uploads/@3x/img06@3x.jpg 3x" alt=""></div>
          </div>
        </div>
        <div class="b-news-home">
          <div class="b-center">
            <div class="b-news-home__head b-flex b-flex--middle b-flex--space-between">
              <h3 class="b-tit b-tit--fz36">Новости компании.</h3><a class="b-btn b-btn--bd b-btn--bd-tm-blue b-btn--bd-sz-lg" href="#">Все новости</a>
            </div>
            <ul class="b-news-grid cf">
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img01.jpg" srcset="images/uploads/@2x/news-img01@2x.jpg 2x, images/uploads/@3x/news-img01@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и </p>
                </article>
              </li>
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img02.jpg" srcset="images/uploads/@2x/news-img02@2x.jpg 2x, images/uploads/@3x/news-img02@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном </p>
                </article>
              </li>
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img03.jpg" srcset="images/uploads/@2x/news-img03@2x.jpg 2x, images/uploads/@3x/news-img03@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и </p>
                </article>
              </li>
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img04.jpg" srcset="images/uploads/@2x/news-img04@2x.jpg 2x, images/uploads/@3x/news-img04@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем </p>
                </article>
              </li>
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img05.jpg" srcset="images/uploads/@2x/news-img05@2x.jpg 2x, images/uploads/@3x/news-img05@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем</p>
                </article>
              </li>
              <li class="b-news-grid__col">
                <article class="b-news-post">
                  <div class="b-news-post__img">
                    <div class="b-news-post__btn"><a class="b-btn b-btn--arrow b-btn--arrow-sz-sm" href="#">Перейти<span class="icon icon-arrow"></span></a></div><img src="images/uploads/news-img06.jpg" srcset="images/uploads/@2x/news-img06@2x.jpg 2x, images/uploads/@3x/news-img06@3x.jpg 3x" alt="">
                  </div>
                  <h2 class="b-news-post__tit">Открытие филиала</h2>
                  <div class="b-news-post__date">19.01.2018</div>
                  <p>Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и </p>
                </article>
              </li>
            </ul>
          </div>
        </div>
        <div class="b-contacts-home">
          <div class="b-contacts-home__map"><img src="images/uploads/map.jpg" alt=""></div>
          <div class="b-center">
            <div class="b-contacts-home__row b-flex b-flex--middle-col b-flex--end">
              <div class="b-post-contact">
                <h3 class="b-tit b-tit--fz36 b-post-contact__tit">Контакты.</h3>
                <div class="b-post-contact__item">
                  <div class="icon icon-mark"></div>630099, г. Новосибирск, ул. Советская, 37,<br>подъезд НИИКЭ
                </div>
                <div class="b-post-contact__item">
                  <div class="icon icon-phone"></div>8 (383) 210-53-02
                </div>
                <div class="b-post-contact__item">
                  <div class="icon icon-mail"></div>realty@bcs.ru.
                </div>
                <div class="b-post-contact__item">
                  <div class="icon icon-house"></div>Пн-Пт: 09.00-20.00, Сб-Вск: выходной
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="b-footer b-page__footer">
        <div class="b-center">
          <div class="b-footer__row">
            <div class="b-footer__col-left">
              <div class="b-logo b-footer__logo"><a class="b-logo__link" href="#">БКС</a></div>
              <div class="b-footer__phone">8 (383) 210-53-02</div>
              <div class="b-footer__newsletter">
                <div class="b-footer__newsletter-tit">Подпишитесь:</div>
                <div class="b-newsletter-form">
                  <input class="b-input b-newsletter-form__input" type="email" placeholder="Ваш E-mail">
                  <button class="b-btn b-btn--send b-newsletter-form__btn"><span class="icon icon-send"></span></button>
                </div>
              </div>
            </div>
            <div class="b-footer__col-right">
              <nav class="b-secont-nav">
                <ul class="b-secont-nav__list b-flex b-flex--space-between">
                  <li class="b-secont-nav__item active"><a href="#">О компании</a>
                    <ul class="b-secont-nav__sub-list">
                      <li class="b-secont-nav__sub-item"><a href="#">История</a></li>
                      <li class="b-secont-nav__sub-item active"><a href="#">О компании</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Новости</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Лицензия</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Реквизиты</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Контакты</a></li>
                    </ul>
                  </li>
                  <li class="b-secont-nav__item"><a href="#">Услуги</a>
                    <ul class="b-secont-nav__sub-list">
                      <li class="b-secont-nav__sub-item"><a href="#">Управление фондами</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Создание фондов</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Аналитика</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Типы фондов</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Консалтинг</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Реализация активов</a></li>
                    </ul>
                  </li>
                  <li class="b-secont-nav__item"><a href="#">Раскрытие</a>
                    <ul class="b-secont-nav__sub-list">
                      <li class="b-secont-nav__sub-item"><a href="#">Отчетность</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Расчет СС</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">ЭДО</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Инсайдеры</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">FATCA</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Архив</a></li>
                    </ul>
                  </li>
                  <li class="b-secont-nav__item"><a href="#">Фонды</a>
                    <ul class="b-secont-nav__sub-list">
                      <li class="b-secont-nav__sub-item"><a href="#">Девелоперский ЗПИФН</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Рентный ЗПИФН</a></li>
                      <li class="b-secont-nav__sub-item"><a href="#">Инвестиционный ЗПИФН</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js?v=1527003862891"></script>
    <script src="js/main.js?v=1527003862891"></script>
  </body>
</html>

src/index.pug
extends pug/base

append vars
	- html.classList.push('page-index')

block content
	.b-page
		header.b-header.b-page__header.js-fix-header
			.b-center.b-flex.b-flex--space-between
				.b-header__col.b-flex.b-flex--middle-col
					.b-logo
						a.b-logo__link(href="#") БКС
				.b-header__col.b-flex.b-flex--bottom-col
					.b-btn-menu.b-header__btn.js-btn-menu
						span.b-btn-menu__icon
						| Меню
					nav.b-main-nav.js-hamburger
						.b-btn-close.b-main-nav__close.js-btn-menu закрыть
						ul.b-main-nav__list
							li.b-main-nav__item.has-child.active
								a(href="#") О компании
								ul.b-main-nav__sub-list
									li.b-main-nav__sub-item
										a(href="#") История
									li.b-main-nav__sub-item.active
										a(href="#") О компании
									li.b-main-nav__sub-item
										a(href="#") Новости
									li.b-main-nav__sub-item
										a(href="#") Лицензия
									li.b-main-nav__sub-item
										a(href="#") Реквизиты
									li.b-main-nav__sub-item
										a(href="#") Контакты
							li.b-main-nav__item.has-child
								a(href="#") Услуги
								ul.b-main-nav__sub-list
									li.b-main-nav__sub-item
										a(href="#") Управление фондами
									li.b-main-nav__sub-item
										a(href="#") Создание фондов
									li.b-main-nav__sub-item
										a(href="#") Аналитика
									li.b-main-nav__sub-item
										a(href="#") Типы фондов
									li.b-main-nav__sub-item
										a(href="#") Консалтинг
									li.b-main-nav__sub-item
										a(href="#") Реализация активов
							li.b-main-nav__item.has-child
								a(href="#") Фонды
								ul.b-main-nav__sub-list
									li.b-main-nav__sub-item
										a(href="#") Девелоперский ЗПИФН
									li.b-main-nav__sub-item
										a(href="#") Рентный ЗПИФН
									li.b-main-nav__sub-item
										a(href="#") Инвестиционный ЗПИФН
							li.b-main-nav__item.has-child
								a(href="#") Раскрытие
								ul.b-main-nav__sub-list
									li.b-main-nav__sub-item
										a(href="#") Отчетность
									li.b-main-nav__sub-item
										a(href="#") Расчет СС
									li.b-main-nav__sub-item
										a(href="#") ЭДО
									li.b-main-nav__sub-item
										a(href="#") Инсайдеры
									li.b-main-nav__sub-item
										a(href="#") FATCA
									li.b-main-nav__sub-item
										a(href="#") Архив
							li.b-main-nav__item
								a(href="#") Контакты
		main.b-body.b-page__body
			.b-top-home
				.b-center
					.b-top-home__entry
						h3.b-top-home__tit Откройте мир инвестиций
							br
							| вместе с БКС Фонды недвижимости
						a.b-btn.b-btn--bd(href="#") Подробнее
					ul.b-post-border-row.cf
						li.b-post-border-row__col
							.b-post-border
								.icon.icon-trophy
								p 
									strong 22 года
									| на рынке
						li.b-post-border-row__col
							.b-post-border
								.icon.icon-mark-map
								p 
									strong 55 городов
									| присутствия
						li.b-post-border-row__col
							.b-post-border
								.icon.icon-favorites
								p 
									strong 1-е место
									| на рынке
				.b-top-home__img
					img(src="images/uploads/img01.png" srcset="images/uploads/@2x/img01@2x.png 2x, images/uploads/@3x/img01@3x.png 3x" alt="")
				.b-top-home__btn-video
					a.b-btn.b-btn--arrow.b-btn--arrow-sz-lg(href="#") Видео о компании
						span.icon.icon-arrow
			.b-clients-home
				mixin postList(...items)
					ul
						each item in items
							li= item
				.b-center
					h3.b-tit.b-tit--fz36.b-clients-home__tit Для наших клиентов.
				.b-post-clients
					.b-center.b-post-clients__row
						.b-post-clients__txt
							.b-post-clients__head
								h4.b-tit.b-tit--fz24 Действующим клиентам
								.icon.icon-cityscape
							.b-entry
								+postList('Кто может быть пайщиком', 'Приобретение паев', 'Права пайщиков', 'Защита прав пайщиков', 'Налогообложение владельцев паев', 'Раскрытие информации')
								a.b-btn.b-btn--bd.b-btn--bd-tm-blue.b-btn--bd-sz-sm(href="#") Подробнее
					.b-post-clients__img
						img(src="images/uploads/img02.jpg" srcset="images/uploads/@2x/img02@2x.jpg 2x, images/uploads/@3x/img02@3x.jpg 3x" alt="")
				.b-post-clients.b-post-clients--right-img
					.b-center.b-post-clients__row
						.b-post-clients__txt
							.b-post-clients__head
								h4.b-tit.b-tit--fz24 Владельцам недвижимости
								.icon.icon-skyscraper
							.b-entry
								+postList('Преимущества «упаковки» в ЗПИФ', 'Типы ЗПИФов', 'Налоговые преимущества', 'Защита прав пайщиков', 'Порядок признания квалинвестором', 'Вопросы и ответы')
								a.b-btn.b-btn--bd.b-btn--bd-tm-blue.b-btn--bd-sz-sm(href="#") Подробнее
					.b-post-clients__img
						img(src="images/uploads/img03.jpg" srcset="images/uploads/@2x/img03@2x.jpg 2x, images/uploads/@3x/img03@3x.jpg 3x" alt="")
			.b-type-home
				.b-center
					h3.b-tit.b-tit--fz36.b-type-home__tit 
						strong Типы 
						| ЗПИФН.
				ul.b-type-row.cf
					li.b-type-row__col
						.b-type-post.b-flex.b-flex--middle-col
							h3.b-type-post__tit Девелоперский ЗПИФН
							.b-type-post__entry
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем 
							.b-type-post__numb 01
							.b-type-post__img
								img(src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt="")
					li.b-type-row__col
						.b-type-post.b-flex.b-flex--middle-col
							h3.b-type-post__tit Рентный ЗПИФН
							.b-type-post__entry
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем 
							.b-type-post__numb 02
							.b-type-post__img
								img(src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt="")
					li.b-type-row__col
						.b-type-post.b-flex.b-flex--middle-col
							h3.b-type-post__tit Инвестиционный ЗПИФН
							.b-type-post__entry
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем 
							.b-type-post__numb 03
							.b-type-post__img
								img(src="images/uploads/img04.jpg" srcset="images/uploads/@2x/img04@2x.jpg 2x, images/uploads/@3x/img04@3x.jpg 3x" alt="")
			.b-about-home
				.b-about-home__bg
					.b-about-home__img-right
						img(src="images/uploads/img05.jpg" srcset="images/uploads/@2x/img05@2x.jpg 2x, images/uploads/@3x/img05@3x.jpg 3x" alt="")
					.b-center
						.b-about-home__txt
							h3.b-tit.b-tit--fz36.b-about-home__tit 
								strong О компании.
							.b-entry
								p БКС Брокер» – брокер №1 в рейтинге Московской Биржи.
									br
									| В 1995 году мы были одними из первых, кто начал оказывать брокерские услуги в России. Уже больше 20 лет мы каждый день работаем над тем, чтобы вам было проще и удобнее управлять своими финансами.
								p
									small Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем информации каждый день, разрабатываем новые инвестиционные стратегии для того, чтобы наши клиенты становились богаче и свободнее. Каждый Клиент может воспользоваться услугами личного финансового советника, который, используя наш опыт,
						.b-about-home__btn
							button.b-btn.b-btn--arrow подробнее о компании
								span.icon.icon-arrow
				.b-center.cf
					.b-about-home__img-bot
						img(src="images/uploads/img06.jpg" srcset="images/uploads/@2x/img06@2x.jpg 2x, images/uploads/@3x/img06@3x.jpg 3x" alt="")
			.b-news-home
				.b-center
					.b-news-home__head.b-flex.b-flex--middle.b-flex--space-between
						h3.b-tit.b-tit--fz36 Новости компании.
						a.b-btn.b-btn--bd.b-btn--bd-tm-blue.b-btn--bd-sz-lg(href="#") Все новости
					ul.b-news-grid.cf
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img01.jpg" srcset="images/uploads/@2x/news-img01@2x.jpg 2x, images/uploads/@3x/news-img01@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и 
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img02.jpg" srcset="images/uploads/@2x/news-img02@2x.jpg 2x, images/uploads/@3x/news-img02@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном 
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img03.jpg" srcset="images/uploads/@2x/news-img03@2x.jpg 2x, images/uploads/@3x/news-img03@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и 
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img04.jpg" srcset="images/uploads/@2x/news-img04@2x.jpg 2x, images/uploads/@3x/news-img04@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и продукты, анализируем огромный объем 
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img05.jpg" srcset="images/uploads/@2x/news-img05@2x.jpg 2x, images/uploads/@3x/news-img05@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем
						li.b-news-grid__col
							article.b-news-post
								.b-news-post__img
									.b-news-post__btn
										a.b-btn.b-btn--arrow.b-btn--arrow-sz-sm(href="#") Перейти
											span.icon.icon-arrow
									img(src="images/uploads/news-img06.jpg" srcset="images/uploads/@2x/news-img06@2x.jpg 2x, images/uploads/@3x/news-img06@3x.jpg 3x" alt="")
								h2.b-news-post__tit Открытие филиала
								.b-news-post__date 19.01.2018
								p Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами. Мы развиваем технологии и 
			.b-contacts-home
				.b-contacts-home__map
					img(src="images/uploads/map.jpg" alt="")
				.b-center
					.b-contacts-home__row.b-flex.b-flex--middle-col.b-flex--end
						.b-post-contact
							h3.b-tit.b-tit--fz36.b-post-contact__tit Контакты.
							.b-post-contact__item
								.icon.icon-mark
								| 630099, г. Новосибирск, ул. Советская, 37,
								br 
								| подъезд НИИКЭ
							.b-post-contact__item
								.icon.icon-phone
								| 8 (383) 210-53-02
							.b-post-contact__item
								.icon.icon-mail
								| realty@bcs.ru.
							.b-post-contact__item
								.icon.icon-house
								| Пн-Пт: 09.00-20.00, Сб-Вск: выходной
		footer.b-footer.b-page__footer
			.b-center
				.b-footer__row
					.b-footer__col-left
						.b-logo.b-footer__logo
							a.b-logo__link(href="#") БКС
						.b-footer__phone 8 (383) 210-53-02
						.b-footer__newsletter
							.b-footer__newsletter-tit Подпишитесь:
							.b-newsletter-form
								input.b-input.b-newsletter-form__input(type="email" placeholder="Ваш E-mail")
								button.b-btn.b-btn--send.b-newsletter-form__btn
									span.icon.icon-send
					.b-footer__col-right
						nav.b-secont-nav
							ul.b-secont-nav__list.b-flex.b-flex--space-between
								li.b-secont-nav__item.active
									a(href="#") О компании
									ul.b-secont-nav__sub-list
										li.b-secont-nav__sub-item
											a(href="#") История
										li.b-secont-nav__sub-item.active
											a(href="#") О компании
										li.b-secont-nav__sub-item
											a(href="#") Новости
										li.b-secont-nav__sub-item
											a(href="#") Лицензия
										li.b-secont-nav__sub-item
											a(href="#") Реквизиты
										li.b-secont-nav__sub-item
											a(href="#") Контакты
								li.b-secont-nav__item
									a(href="#") Услуги
									ul.b-secont-nav__sub-list
										li.b-secont-nav__sub-item
											a(href="#") Управление фондами
										li.b-secont-nav__sub-item
											a(href="#") Создание фондов
										li.b-secont-nav__sub-item
											a(href="#") Аналитика
										li.b-secont-nav__sub-item
											a(href="#") Типы фондов
										li.b-secont-nav__sub-item
											a(href="#") Консалтинг
										li.b-secont-nav__sub-item
											a(href="#") Реализация активов
								li.b-secont-nav__item
									a(href="#") Раскрытие
									ul.b-secont-nav__sub-list
										li.b-secont-nav__sub-item
											a(href="#") Отчетность
										li.b-secont-nav__sub-item
											a(href="#") Расчет СС
										li.b-secont-nav__sub-item
											a(href="#") ЭДО
										li.b-secont-nav__sub-item
											a(href="#") Инсайдеры
										li.b-secont-nav__sub-item
											a(href="#") FATCA
										li.b-secont-nav__sub-item
											a(href="#") Архив
								li.b-secont-nav__item
									a(href="#") Фонды
									ul.b-secont-nav__sub-list
										li.b-secont-nav__sub-item
											a(href="#") Девелоперский ЗПИФН
										li.b-secont-nav__sub-item
											a(href="#") Рентный ЗПИФН
										li.b-secont-nav__sub-item
											a(href="#") Инвестиционный ЗПИФН
